<div *ngIf='articleType'>
  <div class='row'>
    <div class='col'>
      <form
        #articleTypeEditForm='ngForm'
        name='form'
        (ngSubmit)='articleTypeEditForm.form.valid && onSubmit()'
        novalidate
      >
        <div class='form-row justify-content-end'>
          <div class='form-group'>
            <button class='btn btn-outline-warning' type='button' routerLink='/articles'>Cancel</button>
            <button class='btn btn-success' type='submit' [disabled]='!articleTypeEditForm.valid'>Save</button>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='articleTypeProduct.invalid && articleTypeProduct.touched' class='text-danger'>
              <div *ngIf='articleTypeProduct.errors?.["required"]'>Product is required</div>
            </div>
            <label>Product</label>
            <select
              class='form-control'
              required
              name='product'
              #articleTypeProduct='ngModel'
              [(ngModel)]='articleType[0].productId'
              [ngClass]='{
                "is-invalid": articleTypeProduct.invalid
              }'
            >
              <ng-container *ngFor='let product of products$ | async as products'>
                <option *ngIf='product.userId === userId' [value]='product.id'>
                  {{product.name}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='articleTypeArticleType.invalid && articleTypeArticleType.touched' class='text-danger'>
              <div *ngIf='articleTypeArticleType.errors?.["required"]'>Article type is required</div>
            </div>
            <label>Article type</label>
            <select
              class='form-control'
              required
              name='articleTypeArticleType'
              #articleTypeArticleType='ngModel'
              [(ngModel)]='articleType[0].articleType'
              [ngClass]='{
                "is-invalid": articleTypeArticleType.invalid
              }'
            >
              <option *ngFor='let type of articleTypeEnum | enumToArray' [value]='type'>
                {{type}}
              </option>
            </select>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='articleTypeDescription.invalid && articleTypeDescription.touched' class='text-danger'>
              <div *ngIf='articleTypeDescription.errors?.["required"]'>Description is required</div>
            </div>
            <label>Description</label>
            <textarea
              type='text'
              class='form-control'
              required
              [(ngModel)]='articleType[0].description'
              name='description'
              #articleTypeDescription='ngModel'
              [ngClass]='{
                "is-invalid": articleTypeDescription.invalid
              }'></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
