<div class='starter-template'>
  <h1>Is my data being sold?</h1>
  <p class='lead'>
    The website to find out how companies and products are treating your data.
  </p>
  <h3>Info</h3>
  <p>
    This app is running in <strong>'{{ runningMode }}'</strong> mode.<br />
    Environment API URL: <strong>'{{ apiUrl }}'</strong>.<br />
    Version: <strong>{{ version }}</strong>
  </p>
</div>
