<div *ngIf='user'>
  <div class='container login-container'>
    <div class='row justify-content-center'>
      <div class='col-cms-10 col-md-8 col-lg-6 my-5'>
        <h2>Login</h2>
        <form
          #userLoginForm='ngForm'
          name='form'
          class='form-signin'
          (ngSubmit)='userLoginForm.form.valid && onSubmit()'
          novalidate
        >
          <div class='form-group'>
            <div *ngIf='userEmailAddress.invalid && userEmailAddress.touched' class='text-danger'>
              <div *ngIf='userEmailAddress.errors?.["required"]'>Email is required</div>
              <div *ngIf='userEmailAddress.errors?.invalidEmail'>Email is not valid</div>
            </div>
            <label>Email address</label>
            <input
              type='email'
              class='form-control'
              placeholder='Email address'
              required
              [(ngModel)]='user.email'
              name='email'
              #userEmailAddress='ngModel'
              [ngClass]='{
                "is-invalid": userEmailAddress.invalid
              }'
              appEmailValidator
            />
          </div>

          <div class='form-group'>
            <div class='text-danger' *ngIf='userPassword.invalid && userPassword.touched'>
              <div *ngIf='userPassword.errors?.["required"]'>Password is required</div>
              <div *ngIf='userPassword.errors?.["minlength"]'>Password must be at least 10 characters long</div>
            </div>
            <label>Password</label>
            <input
              type='password'
              class='form-control'
              required
              [(ngModel)]='user.password'
              name='password'
              #userPassword='ngModel'
              [ngClass]='{
              "is-invalid": userPassword.invalid
            }'
              minlength='10'
            />
          </div>

          <div class='form-group'>
            <button id='submitbutton' class='btn btn-lg btn-primary btn-block' type='submit'
                    [disabled]='!userLoginForm.valid && !submitted'>Sign in
            </button>
          </div>
          <p>
            <a routerLink='/'>Homepage</a> |
            <a routerLink='/register'>Register</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
