<div class='row'>
  <div class='col-8'>
    <p>Article type list</p>
  </div>
  <div class='col'>
    <a *ngIf='loggedInUser$ | async as user' class='btn btn-primary float-right' role='button' routerLink='new'>New</a>
  </div>

  <table class='table table-striped table-hover'>
    <thead>
    <th>Id</th>
    <th>Article type</th>
    </thead>
    <tbody>
    <tr *ngFor='let articleType of articleTypes$ | async'>
      <td>{{ articleType.id }}</td>
      <td>
        <a routerLink='{{ articleType.id }}'>{{ articleType.articleType }}</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
