<div *ngIf='user'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-sm-10 col-md-8 col-lg-6 my-5'>
        <div class='card card-auth shadow-lg p-3 px-md-5 py-md-4'>
          <h2>Register</h2>
          <form
            #userRegisterForm='ngForm'
            name='form'
            class='form-signin'
            (ngSubmit)='userRegisterForm.form.valid && onSubmit()'
            novalidate
          >
            <div class='form-row'>
              <div class='col'>
                <div class='text-danger' *ngIf='userFirstName.invalid && userFirstName.touched'>
                  <div *ngIf='userFirstName.errors?.["required"]'>Firstname is required</div>
                  <div *ngIf='userFirstName.errors?.["minlength"]'>Firstname must be at least 2 characters long</div>
                </div>
                <label>Firstname</label>
                <input
                  type='text'
                  class='form-control'
                  required
                  [(ngModel)]='user.firstName'
                  name='firstName'
                  #userFirstName='ngModel'
                  [ngClass]='{
                  "is-invalid": userFirstName.invalid
                  }'
                  minlength='2'
                />
              </div>
              <div class='col'>
                <div class='text-danger' *ngIf='userLastName.invalid && userLastName.touched'>
                  <div *ngIf='userLastName.errors?.["required"]'>Lastname is required</div>
                  <div *ngIf='userLastName.errors?.["minlength"]'>Lastname must be at least 2 characters long</div>
                </div>
                <label>Lastname</label>
                <input
                  type='text'
                  class='form-control'
                  required
                  [(ngModel)]='user.lastName'
                  name='lastName'
                  #userLastName='ngModel'
                  [ngClass]='{
                  "is-invalid": userLastName.invalid
                  }'
                  minlength='2'
                />
              </div>
            </div>

            <div class='form-group'>
              <div class='text-danger' *ngIf='userDateOfBirth.invalid && userDateOfBirth.touched'>
                <div *ngIf='userDateOfBirth.errors?.["required"]'>Date of birth is required</div>
              </div>
              <label>Date of birth</label>
              <input
                type='date'
                class='form-control'
                required
                [ngModel]="user.dateOfBirth | date: 'yyyy-MM-dd'"
                (ngModelChange)='user.dateOfBirth = $event'
                name='dateOfBirth'
                #userDateOfBirth='ngModel'
                [ngClass]='{
                  "is-invalid": userDateOfBirth.invalid
                  }'
              />
            </div>

            <div class='form-group'>
              <div class='text-danger' *ngIf='userEmailAddress.invalid && userEmailAddress.touched'>
                <div *ngIf='userEmailAddress.errors?.["required"]'>Emailaddress is required</div>
                <div *ngIf='userEmailAddress.errors?.["minlength"]'>Emailaddress must be at least 2 characters long
                </div>
                <div *ngIf='userEmailAddress.errors?.invalidEmail'>Email is not valid</div>
              </div>
              <label>Emailaddress</label>
              <input
                type='email'
                class='form-control'
                required
                [(ngModel)]='user.emailAddress'
                name='emailAddress'
                #userEmailAddress='ngModel'
                [ngClass]='{
                  "is-invalid": userEmailAddress.invalid
                  }'
                minlength='2'
                appEmailValidator
              />
            </div>

            <div class='form-group'>
              <div class='text-danger' *ngIf='userPassword.invalid && userPassword.touched'>
                <div *ngIf='userPassword.errors?.["required"]'>Password is required</div>
                <div *ngIf='userPassword.errors?.["minlength"]'>Password must be at least 10 characters long</div>
              </div>
              <label>Password</label>
              <input
                type='password'
                class='form-control'
                required
                [(ngModel)]='user.password'
                name='password'
                #userPassword='ngModel'
                [ngClass]='{
              "is-invalid": userPassword.invalid
            }'
                minlength='10'
              />
            </div>

            <div class='form-group'>
              <button
                id='submitbutton'
                class='btn btn-lg btn-primary btn-block'
                type='submit'
                [disabled]='!userRegisterForm.valid'
              >
                Register
              </button>
            </div>

            <p>
              <a routerLink='/'>Homepage</a> |
              <a routerLink='/login'>Login</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
