<div class='row'>
  <div class='col-8'>
    <p>Product list</p>
  </div>
  <div class='col'>
    <a *ngIf='loggedInUser$ | async as user' class='btn btn-primary float-right' role='button' routerLink='new'>New</a>
  </div>

  <table class='table table-striped table-hover'>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Website</th>
    </thead>
    <tbody>
    <tr *ngFor='let product of products$ | async' [class.selected]='product.id === selectedId'>
      <td>{{ product.id }}</td>
      <td>
        <a routerLink='{{ product.id }}'>{{ product.name }}</a>
      </td>
      <td>{{ product.website }}</td>
    </tr>
    </tbody>
  </table>
</div>
