<div class='row'>
  <div class='col-8'>
    <p>User list</p>
  </div>
  <div class='col'>
    <a *ngIf='loggedInUser$ | async as user' class='btn btn-primary float-right' href='#' role='button'
       routerLink='new'>New</a>
  </div>

  <table class='table table-striped table-hover'>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    </thead>
    <tbody>
    <tr *ngFor='let user of users$ | async' [class.selected]='user.id === selectedId'>
      <td>{{ user.id }}</td>
      <td>
        <a routerLink='{{ user.id }}'>{{ user.firstName }} {{ user.lastName }}</a>
      </td>
      <td>{{ user.emailAddress }}</td>
    </tr>
    </tbody>
  </table>
</div>
