<!--
  Example Bootstrap footer. Maak hier vooral je eigen footer van.
  https://getbootstrap.com/docs/5.1/examples/footers/
 -->

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-6 d-flex align-items-center">
      <span class="text-muted">&copy; 2021 Sylvester Roos.</span>
    </div>
  </footer>
</div>
