<div *ngIf='articleType$ | async as articleType; else noArticleType'>
  <div class='row'>
    <div class='col'>
      <a *ngIf='authService.userMayEdit(articleType[0].userId) | async' class='btn btn-primary float-right'
         role='button'
         routerLink='edit'>Edit</a>
      <a
        *ngIf='authService.userMayEdit(articleType[0].userId) | async'
        class='btn btn-danger float-right'
        role='button'
        (click)='deleteArticleType(articleType[0].id)'
        routerLink='/article-list'
      >Delete</a
      >
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <h1>{{ articleType[0].articleType }}</h1>
      <p>Created by user {{articleType[0].userId}}</p>
      <p>Date of writing: {{ articleType[0].dateOfWriting | date: 'dd/MM/yyyy' }}</p>
      <p>{{ articleType[0].description }}</p>
    </div>
  </div>
</div>

<ng-template #noArticleType>
  <app-article-type-detail-placeholder></app-article-type-detail-placeholder>
</ng-template>
