<div *ngIf='company$ | async as company; else noCompany'>
  <div class='row'>
    <div class='col'>
      <a *ngIf='authService.userMayEdit(company[0].userId) | async' class='btn btn-primary float-right' role='button'
         routerLink='edit'>Edit</a>
      <a
        *ngIf='authService.userMayEdit(company[0].userId) | async'
        class='btn btn-danger float-right'
        role='button'
        (click)='deleteCompany(company[0].id)'
        routerLink='/companies'
      >Delete</a
      >
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <h1>{{ company[0].name }}</h1>
      <p>Created by user {{company[0].userId}}</p>
      <p>Website: {{ company[0].website }}</p>
      <p>Founded on: {{ company[0].foundedDate | date: 'dd/MM/yyyy' }}</p>
      <p>Number of employees: {{ company[0].numberOfEmployees }}</p>
    </div>
  </div>
</div>

<ng-template #noCompany>
  <app-company-detail-placeholder></app-company-detail-placeholder>
</ng-template>
