<div *ngIf='product$ | async as product; else noProduct'>
  <div class='row'>
    <div class='col'>
      <a *ngIf='authService.userMayEdit(product[0].userId) | async' class='btn btn-primary float-right' role='button'
         routerLink='edit'>Edit</a>
      <a
        *ngIf='authService.userMayEdit(product[0].userId) | async'
        class='btn btn-danger float-right'
        role='button'
        (click)='deleteProduct(product[0].id)'
        routerLink='/products'
      >Delete</a
      >
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <h1>{{ product[0].name }}</h1>
      <p>Created by user {{product[0].userId}}</p>
      <p>Website: {{ product[0].website }}</p>
      <p>Release date: {{ product[0].releaseDate | date: 'dd/MM/yyyy' }}</p>
      <p>
        License type:
        {{ product[0].licenseType.substring(0, 1).toUpperCase() + product[0].licenseType.substring(1) }}
      </p>
    </div>
  </div>
</div>

<ng-template #noProduct>
  <app-product-detail-placeholder></app-product-detail-placeholder>
</ng-template>
