<nav class='navbar navbar-expand-md navbar-dark bg-dark fixed-top'>
  <div class='container'>
    <a
      class='navbar-brand'
      routerLink='/'
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]='{ exact: true }'
    >{{ title }}</a
    >
    <button
      class='navbar-toggler hidden-sm-up'
      type='button'
      (click)='isNavbarCollapsed = !isNavbarCollapsed'
      data-target='#navbarsDefault'
      aria-controls='navbarsDefault'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div [ngbCollapse]='isNavbarCollapsed' class='collapse navbar-collapse' id='navbarsDefault'>
      <ul class='navbar-nav mr-auto'>
        <li class='nav-item' *ngIf='loggedInUser$ | async as user'>
          <a
            class='nav-link'
            routerLink='users'
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{ exact: true }'
          >Users</a
          >
        </li>
        <li class='nav-item'>
          <a
            class='nav-link'
            routerLink='companies'
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{ exact: true }'
          >Companies</a
          >
        </li>
        <li class='nav-item'>
          <a
            class='nav-link'
            routerLink='products'
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{ exact: true }'
          >Products</a
          >
        </li>
        <li class='nav-item'>
          <a
            class='nav-link'
            routerLink='articles'
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{ exact: true }'
          >Articles</a
          >
        </li>
        <li class='nav-item'>
          <a
            class='nav-link'
            routerLink='about'
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]='{ exact: true }'
          >About</a
          >
        </li>
      </ul>

      <div class='justify-content-end'>
        <!--      no logged in user-->
        <ul class='navbar-nav' *ngIf='!(loggedInUser$ | async)'>
          <li class='nav-item'>
            <a
              class='nav-link'
              routerLink='login'
              [routerLinkActive]='["active"]'
              [routerLinkActiveOptions]='{ exact: true }'
            >Log in</a>
          </li>
          <li class='nav-item'>
            <a
              class='nav-link'
              routerLink='register'
              [routerLinkActive]='["active"]'
              [routerLinkActiveOptions]='{ exact: true }'
            >Register</a>
          </li>
        </ul>

        <!--      logged in user-->
        <ul class='navbar-nav' *ngIf='loggedInUser$ | async as user'>
          <li class='nav-item'>
            <a
              class='nav-link'
              (click)='logout()'
              routerLink='/'
            >Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
