<div class='row'>
  <div class='col' style='display: grid; place-items: center'>
    <h3>This page shows the details of a company</h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <app-company-list></app-company-list>
  </div>
  <div class='col-md-6'>
    <router-outlet></router-outlet>
  </div>
</div>
