<div *ngIf='company'>
  <!--  disabled because it messes with the new page and I dont have time to figure it out-->
  <!--  <div *ngIf='authService.userMayEdit(company[0].id) | async; else noEdit'>-->
  <div class='row'>
    <div class='col'>
      <form
        #companyEditForm='ngForm'
        name='form'
        (ngSubmit)='companyEditForm.form.valid && onSubmit()'
        novalidate
      >
        <div class='form-row justify-content-end'>
          <div class='form-group'>
            <button type='button' class='btn btn-outline-warning' routerLink='..'>Cancel</button>
            <button type='submit' class='btn btn-success' [disabled]='!companyEditForm.valid'>Save</button>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='companyName.invalid && companyName.touched' class='text-danger'>
              <div *ngIf="companyName.errors?.['required']">Name is required</div>
              <div *ngIf="companyName.errors?.['minlength']">Name must be at least two characters long</div>
            </div>
            <label for='companyName'>Name</label>
            <input
              type='text'
              class='form-control'
              required
              [(ngModel)]='company[0].name'
              name='name'
              #companyName='ngModel'
              [ngClass]="{
                'is-invalid': companyName.invalid
              }"
              minlength='2'
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='companyWebsite.invalid && companyWebsite.touched' class='text-danger'>
              <div *ngIf="companyWebsite.errors?.['required']">Website is required</div>
            </div>
            <label for='companyWebsite'>Website</label>
            <input
              type='text'
              class='form-control'
              required
              [(ngModel)]='company[0].website'
              name='lastName'
              #companyWebsite='ngModel'
              [ngClass]="{
                'is-invalid': companyWebsite.invalid
              }"
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='companyFoundedDate.invalid && companyFoundedDate.touched' class='text-danger'>
              <div *ngIf="companyFoundedDate.errors?.['required']">The founding date is required</div>
            </div>
            <label for='companyFoundedDate'>Founded on</label>
            <input
              type='date'
              class='form-control'
              required
              [ngModel]="company[0].foundedDate | date: 'yyyy-MM-dd'"
              (ngModelChange)='company[0].foundedDate = $event'
              name='foundedDate'
              #companyFoundedDate='ngModel'
              [ngClass]="{
                'is-invalid': companyFoundedDate.invalid
              }"
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div
              *ngIf='companyNumberOfEmployees.invalid && companyNumberOfEmployees.touched'
              class='text-danger'
            >
              <div *ngIf="companyNumberOfEmployees.errors?.['required']">Number of employees is required</div>
              <div *ngIf="companyNumberOfEmployees.errors?.['min']">A company has at least 1 employee</div>
            </div>
            <label for='companyNumberOfEmployees'>Number of employees</label>
            <input
              type='number'
              class='form-control'
              required
              [(ngModel)]='company[0].numberOfEmployees'
              name='numberOfEmployees'
              #companyNumberOfEmployees='ngModel'
              [ngClass]="{
                'is-invalid': companyNumberOfEmployees.invalid
              }"
              min='1'
            />
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  </div>-->

  <ng-template #noEdit>
    You are not allowed to edit this company
  </ng-template>
</div>
