<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-10">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>ismydatabeingsold</h3>
    <p>
      ismydatabeingsold is een website die bij houdt of bedrijven met respect met je data om gaan. Per bedrijf
      zijn er enkele normen waar deze voldoende of onvoldoende kan scoren.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/profile.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Sylvester Roos</h5>
        <p class="card-text">Studentnummer: 2159313</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<!-- <p>
  Beschrijf hier jouw entiteiten, zodanig dat we de complexiteit en de onderlinge relaties ervan kunnen
  beoordelen. Voeg ook een plaatje toe waarin je je datamodel visualiseert.
</p> -->
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Company</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>website: string</li>
      <li>foundedDate: Date</li>
      <li>numberOfEmployees: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Product</p>
    <ul>
      <li>id: number</li>
      <li>companyId: number</li>
      <li>name: string</li>
      <li>website: string</li>
      <li>releaseDate: Date</li>
      <li>licenseType: enum</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>ProductArticle</p>
    <ul>
      <li>id: number</li>
      <li>productId: number</li>
      <li>dateOfWriting: Date</li>
      <li>articleType: string</li>
      <li>description: string</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <img
      src="assets/images/ismydatabeingsold-datamodel.svg"
      alt="datamodel for the entities"
      style="max-width: 100%"
    />
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
