<div *ngIf='product'>
  <!--  <div *ngIf='authService.userMayEdit(product[0].userId) | async; else noEdit'>-->
  <div class='row'>
    <div class='col'>
      <form
        #productEditForm='ngForm'
        name='form'
        (ngSubmit)='productEditForm.form.valid && onSubmit()'
        novalidate
      >
        <div class='form-row justify-content-end'>
          <div class='form-group'>
            <button type='button' class='btn btn-outline-warning' routerLink='..'>Cancel</button>
            <button type='submit' class='btn btn-success' [disabled]='!productEditForm.valid'>Save</button>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='productName.invalid && productName.touched' class='text-danger'>
              <div *ngIf="productName.errors?.['required']">Name is required</div>
              <div *ngIf="productName.errors?.['minlength']">Name must be at least two characters long</div>
            </div>
            <label for='productName'>Name</label>
            <input
              type='text'
              class='form-control'
              required
              [(ngModel)]='product[0].name'
              name='name'
              #productName='ngModel'
              [ngClass]="{
                'is-invalid': productName.invalid
              }"
              minlength='2'
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='productCompany.invalid && productCompany.touched' class='text-danger'>
              <div *ngIf="productCompany.errors?.['required']">Company is required</div>
            </div>
            <label for='productCompany'>Company</label>
            <select
              class='form-control'
              required
              name='company'
              #productCompany='ngModel'
              [(ngModel)]='product[0].companyId'
              [ngClass]="{
                'is-invalid': productCompany.invalid
              }"
            >
              <ng-container *ngFor='let company of companies$ | async as companies'>
                <option *ngIf='company.userId === userId' [value]='company.id'>
                  {{company.name}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='productWebsite.invalid && productWebsite.touched' class='text-danger'>
              <div *ngIf="productWebsite.errors?.['required']">Website is required</div>
            </div>
            <label for='productWebsite'>Website</label>
            <input
              type='text'
              class='form-control'
              required
              [(ngModel)]='product[0].website'
              name='website'
              #productWebsite='ngModel'
              [ngClass]="{
                'is-invalid': productWebsite.invalid
              }"
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='productReleaseDate.invalid && productReleaseDate.touched' class='text-danger'>
              <div *ngIf="productReleaseDate.errors?.['required']">Release date is required</div>
            </div>
            <label for='productReleaseDate'>Release date</label>
            <input
              type='date'
              class='form-control'
              required
              [ngModel]="product[0].releaseDate | date: 'yyyy-MM-dd'"
              (ngModelChange)='product[0].releaseDate = $event'
              name='releaseDate'
              #productReleaseDate='ngModel'
              [ngClass]="{
                'is-invalid': productReleaseDate.invalid
              }"
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <label for='productLicenseType'>License type</label>
            <select class='form-control' name='licenseType' [(ngModel)]='product[0].licenseType'>
              <option *ngFor='let type of licenseType | enumToArray' [value]='type'>
                {{ type.substring(0, 1).toUpperCase() + type.substring(1) }}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  </div>-->

  <ng-template #noEdit>
    You are not allowed to edit this product
  </ng-template>
</div>
