<div class='row'>
  <div class='col' style='display: grid; place-items: center'>
    <h3>This page shows the details of a user</h3>
  </div>
</div>
<div class='row'>
  <!-- Lijst links -->
  <div class='col-md-6'>
    <app-user-list></app-user-list>
  </div>
  <!-- Details rechts -->
  <div class='col-md-6'>
    <router-outlet></router-outlet>
  </div>
</div>
