<div class='row'>
  <div class='col-8'>
    <p>Company list</p>
  </div>
  <div class='col'>
    <a *ngIf='loggedInUser$ | async as user' class='btn btn-primary float-right' href='#' role='button'
       routerLink='new'>New</a>
  </div>

  <table class='table table-striped table-hover'>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Website</th>
    </thead>
    <tbody>
    <tr *ngFor='let company of companies$ | async' [class.selected]='company.id === selectedId'>
      <td>{{ company.id }}</td>
      <td>
        <a routerLink='{{ company.id }}'> {{ company.name }}</a>
      </td>
      <td>{{ company.website }}</td>
    </tr>
    </tbody>
  </table>
</div>
