<div *ngIf='user'>
  <!--  <div *ngIf='authService.userMayEdit(user[0].id) | async; else noEdit'>-->
  <div class='row'>
    <div class='col'>
      <form #userEditForm='ngForm' name='form' (ngSubmit)='userEditForm.form.valid && onSubmit()' novalidate>
        <div class='form-row justify-content-end'>
          <div class='form-group'>
            <button type='button' class='btn btn-outline-warning' routerLink='..'>Cancel</button>
            <button type='submit' class='btn btn-success' [disabled]='!userEditForm.valid'>Save</button>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='userFirstName.invalid && userFirstName.touched' class='text-danger'>
              <div *ngIf="userFirstName.errors?.['required']">First name is required</div>
              <div *ngIf="userFirstName.errors?.['minlength']">
                First name must be at least two characters long
              </div>
            </div>
            <label for='userFirstName'>First name</label>
            <input
              type='text'
              class='form-control'
              required
              [(ngModel)]='user[0].firstName'
              name='firstName'
              #userFirstName='ngModel'
              [ngClass]="{
                'is-invalid': userFirstName.invalid
              }"
              minlength='2'
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='userLastName.invalid && userLastName.touched' class='text-danger'>
              <div *ngIf="userLastName.errors?.['required']">Last name is required</div>
              <div *ngIf="userLastName.errors?.['minlength']">
                Last name must be at least two characters long
              </div>
            </div>
            <label for='userLastName'>Last name</label>
            <input
              type='text'
              class='form-control'
              required
              [(ngModel)]='user[0].lastName'
              name='lastName'
              #userLastName='ngModel'
              [ngClass]="{
                'is-invalid': userLastName.invalid
              }"
              minlength='2'
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='userEmailAddress.invalid && userEmailAddress.touched' class='text-danger'>
              <div *ngIf="userEmailAddress.errors?.['required']">Email address is required</div>
              <div *ngIf='userEmailAddress.errors?.invalidEmail'>Email is not valid</div>
            </div>
            <label for='userEmailAddress'>Email address</label>
            <input
              type='text'
              class='form-control'
              required
              [(ngModel)]='user[0].emailAddress'
              name='emailAddress'
              #userEmailAddress='ngModel'
              [ngClass]="{
                'is-invalid': userEmailAddress.invalid
              }"
              appEmailValidator
            />
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div *ngIf='userDateOfBirth.invalid && userDateOfBirth.touched' class='text-danger'>
              <div *ngIf="userDateOfBirth.errors?.['required']">Date of birth is required</div>
            </div>
            <label for='userDateOfBirth'>Date of birth</label>
            <input
              type='date'
              class='form-control'
              required
              [ngModel]="user[0].dateOfBirth | date: 'yyyy-MM-dd'"
              (ngModelChange)='user[0].dateOfBirth = $event'
              name='dateOfBirth'
              #userDateOfBirth='ngModel'
              [ngClass]="{
                'is-invalid': userDateOfBirth.invalid
              }"
            />
          </div>
        </div>

        <div *ngIf='currentUserRole === "admin"'>
          <div class='form-row'>
            <div class='form-group'>
              <label for='userRole'>Role</label>
              <select class='form-control' name='role' [(ngModel)]='user[0].role'>
                <option *ngFor='let role of userRole | enumToArray' [value]='role'>
                  {{ role.substring(0, 1).toUpperCase() + role.substring(1) }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class='form-row'>
          <div class='form-group'>
            <div class='text-danger' *ngIf='userPassword.invalid && userPassword.touched'>
              <div *ngIf='userPassword.errors?.["required"]'>Password is required</div>
              <div *ngIf='userPassword.errors?.["minlength"]'>Password must be at least 10 characters long</div>
            </div>
            <label>Password</label>
            <input
              type='password'
              class='form-control'
              required
              [(ngModel)]='user[0].password'
              name='password'
              #userPassword='ngModel'
              [ngClass]='{
              "is-invalid": userPassword.invalid
            }'
              minlength='10'
            />
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  </div>-->

  <ng-template #noEdit>
    You are not allowed to edit this user
  </ng-template>
</div>
