<div *ngIf='articleTypes$ | async as articleTypes; else noProductArticle'>
  <div *ngIf='product$ | async as product'>
    <div class='row'>
      <div class='col'>
        <h1 *ngIf='product$ | async as product; else noProduct'>
          {{product[0].name}}
        </h1>
        <p>Created by user {{product[0].userId}}</p>
        <ng-template #noProduct>
          <p>No product linked to this article</p>
        </ng-template>
        <div *ngFor='let article of articleTypes'>
          <div *ngIf='article.productId === product[0].id'>
            <a *ngIf='authService.userMayEdit(article.userId) | async' class='btn btn-primary float-right'
               role='button'
               routerLink='/articles/{{article.id}}/edit'>Edit</a>
            <a
              *ngIf='authService.userMayEdit(article.userId) | async'
              class='btn btn-danger float-right'
              role='button'
              (click)='deleteArticleType(article.id)'
            >Delete</a
            >
            <h3>{{article.articleType}}</h3>
            <p>{{article.dateOfWriting | date: 'dd/MM/yyyy'}}</p>
            <p>{{article.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noProductArticle>
  <p>No article available</p>
</ng-template>
