<div *ngIf='user$ | async as user; else noUser'>
  <div class='row'>
    <div class='col'>
      <a *ngIf='authService.userMayEdit(user[0].id) | async'
         class='btn btn-primary float-right' role='button'
         routerLink='edit'>Edit</a>
      <a *ngIf='authService.userMayEdit(user[0].id) | async'
         class='btn btn-danger float-right' role='button'
         (click)='deleteUser(user[0].id)' routerLink='/users'
      >Delete</a
      >
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <h1>{{ user[0].firstName }} {{ user[0].lastName }}</h1>
      <p>User id: {{user[0].id}}</p>
      <p>email: {{ user[0].emailAddress }}</p>
      <p>Date of birth: {{ user[0].dateOfBirth | date: 'dd/MM/yyyy' }}</p>
    </div>
  </div>
</div>

<ng-template #noUser>
  <app-user-detail-placeholder></app-user-detail-placeholder>
</ng-template>
